#AboutUs {
  position: relative;
  height: 110vh;
  width: 100%;
  color: #000000;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  overflow: hidden;
  margin-top: 50px;
}

#AboutUs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("src/images/about.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(8px);
  z-index: 0;
}
#AboutUs div {
  position: relative;
  z-index: 1;
  height: 150px;
}
#AboutUs img{
    height:65px;
    padding-top: 65px;
    padding-bottom:30px;
    animation: bounce 2s linear infinite;
}
@keyframes bounce{
    90%{transform: translateY(30px);}
    70%{transform: translateY(40px);}

}